@import "tailwindcss";

:root{
  --primary: #001BB7;
  --secondary: #0046FF;
  --accent: #FF8040;

  --success: #16A34A;
  --error: #DC2626;
  --warning: #F59E0B;

  --background: #F5F1DC;
  --text: #111827;

  /* daisyUI color mapping support for Tailwind v4 */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-neutral: var(--text);
  --color-base-300: #d1d5db;
  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  --color-neutral-content: #ffffff;
}


